body {
    margin: 0;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


/* 스타일 초기화 */
* {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a {
    color: inherit;
    /* 부모 요소의 글자 색상을 상속받음 */
    text-decoration: none;
    /* 밑줄 제거 */
    background-color: transparent;
    /* 배경색 투명 */
    outline: none;
    /* 포커스 아웃라인 제거 */
}
textarea:focus {
    outline: none;
}

/* 페이지 공통 스타일 */
html,
body,
#root,
#root>div {
    width: 100%;
    height: 100%;
    /* height: calc(100% - 120px); */
}
.content {
    width: 80%;
    margin: 0 auto;
}

.sidebar-main-page {
    display: flex;
    width: 100%;
    margin-top: 70px;
    /* transition: margin-left 0.3s ease-in-out; */
    min-height: 100vh;
}

.page {
    width: 100%;
    height: 100%;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding-bottom: 80px;
}

/* 공용 스타일 속성 */
.round {
    border-radius: 10px;
}
.text-center {
    text-align: center;
}
.shift {
    margin-left: 180px;
    width: calc(100% - 180px);
}

/* 페이지 및 섹션 제목 */
h2.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-top: 60px;
}

/* 페이지 및 섹션 부제목 스타일 */
.subtitle {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 32px;
    gap: 24px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

/* step이 있는 부제목 스타일 */
.steps>span {
    display: flex;
    /* margin-left: 24px; */
    align-items: center;
    justify-content: center;
}

.steps>span:first-of-type {
    margin-left: 0;
}

.step {
    padding: 8px 16px;
    color: #495057;
}
.step>span {
    line-height: 32px;
}

.step.primary {
    background-color: #9d3014;
    color: #fff;
    font-weight: bold;
}

.steps .space {
    margin-right: 8px;
}

.steps .next {
    margin: auto;
    width: 16px;
    height: 16px;
    background: url(https://i.imgur.com/0gMereZ.png) no-repeat;
    background-size: cover;
    /* color: #CDD3D9;
    font-weight: bold; */
    /* 이미지로 변경할 경우 삭제 */
}

/* 컨텐츠 내 단락 제목 */
h3.paragraph-title {
    margin: 40px 0 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

/* .form-btn {
    width: 100%;
    padding-top: 16px;
    position: relative;
    left: calc(200% - 100px + 24px);
}
*/
.order-bottom-btn {
    display: flex;
    justify-content: right;
    width: 100%;
    padding-top: 40px;
}
.order-bottom-btn button {
    width: 100px;
}

p.error-message {
    font-size: 14px;
    margin-top: 4px;
    text-align: end;
    color: #FC8181;
}